@mixin grid {
    max-width: 1440px;
    margin: auto;
}

@mixin logo ($font, $coloring) {
    font-family: $font;
    font-weight: 900;
    font-size: 25px;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin action-button ($colored) {
    background-color: $colored;
    color: white;
    font-family: inherit;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    height: 30px;
    width: 100px; 
    @content;
}

@mixin link-animation {
    &::before {
        bottom: 0;
        left: 0;
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $secondary-font-color;
        transition: 0.2s;
        transform: scaleX(0);
    }
    &:hover:before {
        transform: scaleX(1);
    }
}

@mixin button-hover-animation ($coloring) {
    &:hover {
        background-color: #F6FCFF;
        color: $coloring;
    }
    &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        border-top: 2px solid $coloring;
        border-bottom: 2px solid $coloring;
        transition: 0.3s;
        transform: scaleX(0);
    }
    &:hover:before {
        transform: scale(1);
    }
    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        border-left: 2px solid $coloring;
        border-right: 2px solid $coloring;
        transition: 0.3s;
        transform: scaleY(0);
    }
    &:hover:before, &:hover:after {
        transform: scale(1);
        border-radius: 5px;
    } 
    @content;
}



