$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Raleway', sans-serif;
$gradient: linear-gradient(180deg, rgba(85,214,216,1) 0%, rgba(54,219,186,1) 100%); 
$primary-font-color: #364241;
$button-one-color: #36DBBA;
$action-button-color: #74A5EE;
$secondary-font-color: #01B2AB;
$other-font-color: #235859;
$bg-color: #D1DCE0;