* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F6FCFF;
  font-family: "Raleway", sans-serif;
}

body header .navbar {
  margin-top: 10px;
  min-height: 50px;
}

body header .navbar .navbar-wrap {
  max-width: 1440px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  padding: 0 5%;
}

body header .navbar .navbar-wrap .logo {
  padding: 0;
}

body header .navbar .navbar-wrap .logo h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#55d6d8), to(#36dbba));
  background: linear-gradient(180deg, #55d6d8 0%, #36dbba 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body header .navbar .navbar-wrap .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .navbar .navbar-wrap .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
}

body header .navbar .navbar-wrap .menu ul > li {
  margin-right: 55px;
}

body header .navbar .navbar-wrap .menu ul > li > a {
  text-decoration: none;
  font-weight: 700;
  color: #364241;
  position: relative;
}

body header .navbar .navbar-wrap .menu ul > li > a::before {
  bottom: 0;
  left: 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #01B2AB;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

body header .navbar .navbar-wrap .menu ul > li > a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

body header .navbar .navbar-wrap .menu .signin {
  background-color: #36DBBA;
  color: white;
  font-family: inherit;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  height: 30px;
  width: 100px;
  margin-right: 20px;
  position: relative;
}

body header .navbar .navbar-wrap .menu .signin:hover {
  background-color: #F6FCFF;
  color: #36DBBA;
}

body header .navbar .navbar-wrap .menu .signin:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  border-top: 2px solid #36DBBA;
  border-bottom: 2px solid #36DBBA;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

body header .navbar .navbar-wrap .menu .signin:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

body header .navbar .navbar-wrap .menu .signin:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  border-left: 2px solid #36DBBA;
  border-right: 2px solid #36DBBA;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

body header .navbar .navbar-wrap .menu .signin:hover:before, body header .navbar .navbar-wrap .menu .signin:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 5px;
}

body header .navbar .navbar-wrap .menu .signup {
  background-color: #74A5EE;
  color: white;
  font-family: inherit;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  height: 30px;
  width: 100px;
  position: relative;
}

body header .navbar .navbar-wrap .menu .signup:hover {
  background-color: #F6FCFF;
  color: #74A5EE;
}

body header .navbar .navbar-wrap .menu .signup:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  border-top: 2px solid #74A5EE;
  border-bottom: 2px solid #74A5EE;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

body header .navbar .navbar-wrap .menu .signup:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

body header .navbar .navbar-wrap .menu .signup:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  border-left: 2px solid #74A5EE;
  border-right: 2px solid #74A5EE;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

body header .navbar .navbar-wrap .menu .signup:hover:before, body header .navbar .navbar-wrap .menu .signup:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 5px;
}

body header .firstScreen .firstScreen-wrap {
  max-width: 1440px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 25px;
  margin-bottom: 50px;
  padding: 0 5%;
}

body header .firstScreen .firstScreen-wrap .text {
  margin-top: 12%;
  font-family: "Montserrat", sans-serif;
}

body header .firstScreen .firstScreen-wrap .text h1 {
  font-size: 50px;
  font-weight: 900;
  color: #235859;
  margin: 10px 0 5px 0;
}

body header .firstScreen .firstScreen-wrap .text h1 .other-color {
  color: #01B2AB;
}

body header .firstScreen .firstScreen-wrap .text p {
  margin: 15px 20px 30px 0;
  font-size: 18px;
  line-height: 1.3em;
}

body header .firstScreen .firstScreen-wrap .text button {
  position: relative;
  background-color: #74A5EE;
  color: white;
  font-family: inherit;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  height: 30px;
  width: 100px;
  height: 36px;
  width: 120px;
}

body header .firstScreen .firstScreen-wrap .text button:hover {
  background-color: #F6FCFF;
  color: #74A5EE;
}

body header .firstScreen .firstScreen-wrap .text button:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  border-top: 2px solid #74A5EE;
  border-bottom: 2px solid #74A5EE;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

body header .firstScreen .firstScreen-wrap .text button:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

body header .firstScreen .firstScreen-wrap .text button:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  border-left: 2px solid #74A5EE;
  border-right: 2px solid #74A5EE;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

body header .firstScreen .firstScreen-wrap .text button:hover:before, body header .firstScreen .firstScreen-wrap .text button:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 5px;
}

body header .firstScreen .firstScreen-wrap img {
  height: 556px;
  width: 656px;
  margin: 20px -40px 30px 0;
}

body #howitworks {
  max-width: 1440px;
  margin: auto;
  padding: 0 5%;
}

body #howitworks .heading {
  width: 380px;
  height: 80px;
  margin: auto;
  background-color: #D1DCE0;
  border-radius: 10px;
}

body #howitworks .heading h1 {
  font-family: "Montserrat", sans-serif;
  padding: 20px 0;
  text-align: center;
  font-size: 40px;
  color: #235859;
  font-weight: 900;
  margin: 0;
}

body #howitworks .heading .animation-1, body #howitworks .heading .animation-2 {
  display: none;
  background-color: #D1DCE0;
  border-radius: 5px;
  position: relative;
}

body #howitworks .heading .animation-1 {
  height: 40px;
  width: 40px;
  left: -18%;
  top: -140%;
}

body #howitworks .heading .animation-2 {
  height: 30px;
  width: 30px;
  top: -90%;
  left: 110%;
}

body #howitworks .heading-text {
  margin: 40px 0 10px 0;
  font-size: 20px;
}

body #howitworks .switches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #235859;
}

body #howitworks .switches #button-click1, body #howitworks .switches #button-click2 {
  font-size: 30px;
  font-weight: 400;
  color: #235859;
  margin: 20px 60px 10px 0;
  text-decoration: none;
  position: relative;
}

body #howitworks .switches #button-click1::before, body #howitworks .switches #button-click2::before {
  bottom: 0;
  left: 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #01B2AB;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

body #howitworks .switches #button-click1:hover:before, body #howitworks .switches #button-click2:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

body #howitworks #textSlide {
  margin: 70px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 50px 40%;
      grid-template-columns: 40% 50px 40%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "paragraph1 number1 ." ". number2 paragraph2" "paragraph3 number3 .";
  grid-column-gap: 30px;
  grid-row-gap: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body #howitworks #textSlide .paragraph1, body #howitworks #textSlide .paragraph2, body #howitworks #textSlide .paragraph3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #235859;
}

body #howitworks #textSlide .paragraph1 h3, body #howitworks #textSlide .paragraph2 h3, body #howitworks #textSlide .paragraph3 h3 {
  position: relative;
  margin: 0;
  font-size: 25px;
}

body #howitworks #textSlide .paragraph1 h3::before, body #howitworks #textSlide .paragraph2 h3::before, body #howitworks #textSlide .paragraph3 h3::before {
  bottom: 0;
  left: 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #01B2AB;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

body #howitworks #textSlide .paragraph1 p, body #howitworks #textSlide .paragraph2 p, body #howitworks #textSlide .paragraph3 p {
  font-family: "Raleway", sans-serif;
  color: #364241;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2em;
}

body #howitworks #textSlide .paragraph1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: paragraph1;
  text-align: right;
}

body #howitworks #textSlide .paragraph2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: paragraph2;
}

body #howitworks #textSlide .paragraph3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: paragraph3;
  text-align: right;
}

body #howitworks #textSlide .number1, body #howitworks #textSlide .number2, body #howitworks #textSlide .number3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#55d6d8), to(#36dbba));
  background: linear-gradient(180deg, #55d6d8 0%, #36dbba 100%);
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}

body #howitworks #textSlide .number1 p, body #howitworks #textSlide .number2 p, body #howitworks #textSlide .number3 p {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 7px 0;
}

body #howitworks #textSlide .number1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: number1;
}

body #howitworks #textSlide .number2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: number2;
}

body #howitworks #textSlide .number3 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: number3;
}

body .action {
  background-color: rgba(209, 220, 224, 0.5);
  text-align: center;
  width: 100%;
}

body .action h2 {
  font-size: 45px;
  color: #235859;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding-top: 50px;
  margin: 0;
}

body .action .employer {
  display: none;
}

body .action button {
  margin: 30px 0 40px 0;
  background-color: #74A5EE;
  color: white;
  font-family: inherit;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  height: 30px;
  width: 100px;
  font-family: "Montserrat", sans-serif;
  height: 36px;
  width: 120px;
  position: relative;
}

body .action button:hover {
  background-color: #F6FCFF;
  color: #74A5EE;
}

body .action button:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  border-top: 2px solid #74A5EE;
  border-bottom: 2px solid #74A5EE;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

body .action button:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

body .action button:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  border-left: 2px solid #74A5EE;
  border-right: 2px solid #74A5EE;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

body .action button:hover:before, body .action button:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 5px;
}

body .action button:hover {
  background-color: rgba(209, 220, 224, 0.5);
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #364241;
  margin: 0;
  padding: 0;
  text-align: center;
}

body footer ul {
  padding: 20px 0;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
}

body footer ul li {
  margin: 0 20px;
}

body footer ul li a {
  text-decoration: none;
  color: #D1DCE0;
  font-weight: 700;
  position: relative;
}

body footer ul li a::before {
  bottom: 0;
  left: 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #01B2AB;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

body footer ul li a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

body footer .copy h1 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#55d6d8), to(#36dbba));
  background: linear-gradient(180deg, #55d6d8 0%, #36dbba 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body footer .copy p {
  font-size: 10px;
  color: #D1DCE0;
}

@media screen and (max-width: 1280px) {
  body header .firstScreen .firstScreen-wrap .text h1 {
    font-size: 43px;
  }
  body header .firstScreen .firstScreen-wrap img {
    height: 458px;
    width: 540px;
  }
}

@media screen and (max-width: 1073px) {
  body header .firstScreen .firstScreen-wrap .text h1 {
    font-size: 40px;
  }
  body header .firstScreen .firstScreen-wrap img {
    height: 433px;
    width: 511px;
    margin-left: -20px;
  }
}

@media screen and (max-width: 980px) {
  body header .firstScreen .firstScreen-wrap .text h1 {
    font-size: 38px;
  }
  body header .firstScreen .firstScreen-wrap .text p {
    font-size: 18px;
  }
  body header .firstScreen .firstScreen-wrap img {
    height: 437px;
    width: 515px;
    margin-left: -30px;
  }
  body #howitworks .heading {
    width: 338px;
    height: 71px;
  }
  body #howitworks .heading h1 {
    font-size: 38px;
    padding: 16px 0;
  }
}
/*# sourceMappingURL=digest.css.map */