@import 'variables';
@import 'mixins';

* {box-sizing: border-box;}
body {
    margin: 0;
    padding: 0;
    background-color: #F6FCFF;
    font-family: $font-secondary;
    header {
        .navbar {
            margin-top: 10px;
            min-height: 50px;
            .navbar-wrap {
                @include grid;
                display: flex;
                align-items: center; 
                justify-content: space-between;
                font-family: $font-primary;
                padding: 0 5%;
                .logo {
                    padding: 0;
                    h1 {@include logo($font-primary, $gradient);}  
                }
                .menu {
                    display: flex;
                    align-items: center;
                    ul {
                        display: flex;
                        flex-direction: row;
                        list-style-type: none;
                        > li {
                            margin-right: 55px;
                            > a {
                                text-decoration: none;
                                font-weight: 700;
                                color: $primary-font-color;
                                position: relative;
                                @include link-animation;
                            }
                        } 
                    } 
                    .signin {
                        @include action-button($button-one-color);
                        margin-right: 20px;
                        position: relative;
                        @include button-hover-animation($button-one-color);
                    }
                    .signup {
                        @include action-button($action-button-color);
                        position: relative;
                        @include button-hover-animation($action-button-color);
                    }
                }
            }
        }
        .firstScreen {
            .firstScreen-wrap {
                @include grid;
                display: flex;
                flex-direction: row;
                margin-top: 25px;
                margin-bottom: 60px;
                padding: 0 5%;
                .text {
                    margin-top: 12%;
                    font-family: $font-primary;
                    h1 {
                        font-size: 50px;
                        font-weight: 900;
                        color: $other-font-color;
                        margin: 10px 0 5px 0;
                        .other-color {color: $secondary-font-color;}  
                    }
                    p {
                        margin: 15px 20px 30px 0;
                        font-size: 18px;
                    }
                    button {
                        position: relative;
                        @include action-button($action-button-color) {
                        height: 36px;
                        width: 120px;
                        @include button-hover-animation($action-button-color);
                    }
                }
            }
            img {
                height: 556px;
                width: 656px;
                margin: 20px -40px 30px 0;
            }
        }
        }
    }        
    #howitworks {
        @include grid;
        padding: 0 5%;
        .heading {
             width: 380px;
             height: 80px;
             margin: auto;
             background-color: $bg-color;
             border-radius: 10px;
             h1 {
                font-family: $font-primary;
                padding: 20px 0;
                text-align: center;
                font-size: 40px;
                color: $other-font-color;
                font-weight: 900;
                margin: 0;
        }
        .animation-1, .animation-2 {
            display: none;
            background-color: $bg-color; 
            border-radius: 5px;
            position: relative; 
        }
                    .animation-1 {
                        height: 40px;
                        width: 40px;
                        left: -18%;
                        top: -140%;
                    }
                    .animation-2 {
                        height: 30px;
                        width: 30px;
                        top: -90%;
                        left: 110%; 
                    }
                }
                .heading-text {
                    margin: 40px 0 10px 0;
                    font-size: 20px;
                }
                .switches {
                    display: flex;
                    flex-direction: row;
                    color: $other-font-color;
                    #button-click1, #button-click2 {
                        font-size: 30px;
                        font-weight: 400;
                        color: $other-font-color;
                        margin: 20px 60px 10px 0;
                        text-decoration: none;
                        position: relative;
                       @include link-animation;
                    }
                }
                #textSlide1 {
                    margin: 70px 0;
                    display: grid;
                    grid-template-columns: 40% 50px 40%;
                    grid-template-rows: auto;
                    grid-template-areas:
                    "paragraph1 number1 ."
                    ". number2 paragraph2"
                    "paragraph3 number3 .";
                    grid-column-gap: 30px;
                    grid-row-gap: 70px;
                    justify-content: center;
                    align-items: flex-start;
                    .paragraph1, .paragraph2, .paragraph3 {
                        font-family: $font-primary;
                        font-weight: 500;
                        color: $other-font-color;
                        h3 {
                            margin: 0;
                            font-size: 20px;
                        }
                        p {
                            font-family: $font-secondary;
                            color: $primary-font-color;
                            font-weight: 400;
                        }
                    }
                    .paragraph1 {
                        grid-area: paragraph1;
                        text-align: right;
                    }
                    .paragraph2 {grid-area: paragraph2;}
                    .paragraph3 {
                        grid-area: paragraph3;
                        text-align: right;
                    }
                    .number1, .number2, .number3 {
                        background: $gradient;
                        align-self: flex-start;
                        height: 50px; 
                        width: 50px;
                        border-radius: 10px;
                        text-align: center;
                        font-size: 30px;
                        font-weight: 900;
                        p {
                            font-family: $font-primary;
                            color: white;
                            margin: 5px 0;
                        }
                    }
                    .number1 {grid-area: number1;}
                .number2 {grid-area: number2;}
                .number3 {grid-area: number3;}
            }
            #textSlide2 {
                 display: none;
            }   
        }           
    
    .action {
        background-color: rgba(209,220,224,.5);
        text-align: center;
        width: 100%;
        display: inline-block;
        h2 {
            font-size: 45px;
            color: $other-font-color;
            font-family: $font-primary;
            font-weight: 700;
            padding-top: 50px;
            margin: 0;
        }
        .employer {display:none;}
        button {
            margin: 30px 0 40px 0;
            @include action-button($action-button-color) {
                font-family: $font-primary;
                height: 36px;
                width: 120px;
            }
            position: relative;
            @include button-hover-animation($action-button-color);
        }
    }
    footer {
        display: flex;
        flex-direction: column;
        background-color: $primary-font-color;
        margin: 0;
        padding: 0;
        text-align: center;
        ul {
            padding: 20px 0;
            align-self: center;
            display: flex;
            flex-direction: row;
            list-style-type: none;
            li {
                margin: 0 20px;
                a {
                    text-decoration: none;
                    color: $bg-color;
                    font-weight: 700;
                }
            }
        }
        .copy {
            h1 {
                margin: 0;
                @include logo($font-primary, $gradient);
            }
            p {
                font-size: 10px;
                color: $bg-color;
            }
        }
}
}